.mask {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
}

.shadowBlock {
  background: black;
  width: 80px;
  height: calc(100% + 20px);
  filter: blur(5px);
  border-radius: 10px;
  overflow: hidden;
  top: 50%;
}

.leftShadowBlock {
  transform: translate(-50%, -50%);
}

.rightShadowBlock {
  transform: translate(50%, -50%);
}
