.button {
  border-radius: 34px;
}

.secondaryButton {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
  z-index: 1;
}

.secondaryButton:hover {
  background: linear-gradient(
    84.16deg,
    rgba(244, 41, 41, 0.2) -7.25%,
    rgba(255, 215, 111, 0.042) 35.45%,
    rgba(56, 212, 233, 0.2) 97%
  );
}

.secondaryButtonShadow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 34px;
  background: linear-gradient(
    85.57deg,
    rgba(255, 92, 0, 1) 18.06%,
    rgba(0, 240, 255, 1) 136.08%
  );
  filter: blur(50px);
  transform: scale(0.5);
  transition: all 0.5s;
}

.secondaryButtonBorderGradient::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: -1;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 34px;
  background: black;
}

.secondaryButtonShadow:hover::before {
  transform: scale(0.8);
}
