.linesContainer {
  --duration: 30s;
  overflow: hidden;
  position: relative;
}

.shadowBlock {
  width: 20px;
  height: calc(100% + 5px);
  filter: blur(5px);
  background: black;
  border-radius: 10px;
  overflow: hidden;
}

.leftShadowBlock {
  transform: translate(-50%, 2.5px);
}

.rightShadowBlock {
  transform: translate(50%, 2.5px);
}

.linesContent {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 80vw;
}

.line {
  width: fit-content;
  flex: none;
  display: flex;
  flex-wrap: nowrap;
}

.firstHalf,
.secondHalf {
  transform: translate(0, 0);
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  flex: none;
  animation:
    calc(var(--duration) / 2) initialTicker linear forwards,
    var(--duration) ticker calc(var(--duration) / 2) infinite linear forwards;
}

.secondHalf {
  transform: translate(100%, 0);
  animation: var(--duration) ticker infinite linear forwards;
}

@keyframes initialTicker {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes ticker {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
